body { /* Estilos globais, do corpo todo do site */
 font-family: 'Roboto', sans-serif;
 background-color: #0D0D0D;
color: #FFFFFF;  
margin: 0; 
}

nav ul { /* Estilos do menu de navegação */
background-color: #1a1a1a;
text-decoration: none;
list-style: none; /* Remove os marcadores da lista */
margin: 0; /* Remove a margem padrão */
padding: 0; /* Remove o padding padrão */
display: flex;
align-items: flex-start; /* Alinha os itens no início */
position: relative; /* Necessário para o posicionamento absoluto do submenu */  
}

nav li {
position: relative; 
}

nav > ul > li { /* Estilos dos itens principais do menu */
margin: 0 ;
}

nav a {   /* Estilos dos links do menu */
display: block; /* Faz o link ocupar todo o espaço do item da lista */
padding: 15px 20px; /* Espaçamento interno dos links, os "15px" preenchem acima e abaixo, e o "20px" preenche nas laterais */
text-decoration: none;
color: #FFFFFF;
transition: 0.3s;
border-radius: 20px;
cursor: pointer;
}

nav a:hover {
background-color: #E50914;
box-shadow: 2px 6px red; /* Sombra do botão ao passar o mouse */
}
/* Estilo do submenu */
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    min-width: 180px;
    flex-direction: column;
    z-index: 1000; /* Garante que o submenu fique acima de outros elementos */
    width: 180px; 
    border-radius: 20px; 
}

nav ul ul li {
width: 100%;
}

nav ul ul a {
padding: 12px 15px;
}

nav li:hover > ul  {
display: block;

nav li:focus-within > ul { /* Permite que o submenu seja acessível via teclado */
    display: block;
}
}

nav img {
width:50px;
height: auto;

}

.faq-container {
      max-width: 700px;
      margin: 40px auto;
    }

    .faq-container h2 {
        color: #E50914;
        text-align: center;
        margin-bottom: 3vh;
        font-size: 2em;
        border: 2px solid #E50914;
        border-radius: 10px;
        border-bottom: 4px solid #E50914;
        padding: 10px;
 }

    .faq-item {
      background: #1a1a1a;
      margin-bottom: 10px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 2px 6px rgba(0,0,0,0.3);
      overflow: hidden;
    }

    .faq-question {
      background:linear-gradient(#E50914, #B20810) ;
      padding: 15px;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .faq-answer {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
      padding: 0 15px;
    }

    .faq-answer p {
      margin: 10px 0;
    }

    .faq-item.active .faq-answer {
      max-height: 400px;
      padding: 15px;
    }

    .icon {
      font-size: 20px;
      transition: transform 0.3s ease;
    }

    .faq-item.active .icon {
      transform: rotate(180deg);
    }

    /* Em telas até 1024px (tablets) */
@media (max-width: 1024px) {
  header h1 {
    font-size: 3rem;
  }
  header h2 {
    font-size: 1.8rem;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas de cards */
  }
  nav a {
    font-size: 1.5rem;
    padding: 12px 15px;
  }
  .faq-container {
    padding: 0 20px;
    width: 100%;
  }
  .faq-question {
    font-size: 2rem;
  }
  .faq-answer p {
    font-size: 1.5rem;
  }
}

/* Em telas até 768px (celulares em paisagem) */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column; /* Menu empilhado */
    align-items: center;
  }
  nav a {
    width: 80%;
    text-align: left;
    justify-content: left;
    align-items: left;
    margin-left: 0;
    font-size: 1.2rem;
  }

  nav li {
    width: 100%;
  }

  nav ul ul {
    position: static; /* Submenu posicionado estaticamente */
    text-align: left;
    align-items: left;
    justify-content: left;
  }
nav li {
  text-align: left;
}
  header h1 {
    font-size: 2.5rem;
  }
  header h2 {
    font-size: 1.5rem;
  }
  header p {
    font-size: 1.2rem;
  }
  .cards {
    grid-template-columns: 1fr; /* 1 coluna de card */
  }
}

/* Em telas até 480px (celulares pequenos) */
@media (max-width: 480px) {
  header {
    padding: 100px 15px;
    height: 90%;
  }
  header h1 {
    font-size: 1.8rem;
  }
  header h2 {
    font-size: 1.2rem;
  }
  .botao {
    padding: 12px 25px;
    font-size: 1rem;
    margin: 0 0 55px 0;
  }
  header p {
    font-size: 1rem;
  }
  header img {
    margin: 15vh 0 0 0;
    width : 50%; 
  }
  .faq-item active .faq-answer {
      max-height: 300px;
    }
  .faq-container {
      padding: 0 10px;
    }
  .faq-answer p {
    font-size: 1rem;
    }
    .faq-question {
      font-size: 1rem;
      
      padding: 4%;
    }
}