body {
 font-family: 'Roboto', sans-serif;
 background-color: #0D0D0D;
color: #FFFFFF;  
margin: 0; 


}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 15px 0;
    font-size: 2rem;
    margin-top: 90px;
}

.musc {
    background-color:#292828 ;
    padding: 30px 80px;
    border-radius: 10px;
    text-decoration: none;
    color: #E50914;
    transition: 0.3s;
}
.musc:hover {
    transform: translateY(-7px);
    background-color: #E50914;
    color: #000000;
}

.yoga {
    background-color: #292828;
    padding: 30px 120px;
    border-radius: 10px;
    text-decoration: none;
    color:#4CAF50;
    transition: 0.3s;
}
.yoga:hover {
    transform: translateY(-7px);
    background-color: #429b45;
    color: #FFFFFF;
}

.cross {
    background-color: #292828;
    padding: 30px 100px;
    border-radius: 10px;
    text-decoration: none;
    color:#FFD600;
    transition: 0.3s;
}
.cross:hover {
    transform: translateY(-7px);
    background-color: #FFD600;
    color: #000000;
}

h1 {
    text-align: center;
    margin-top: 60px;
    font-size: 3em;
    font-weight: bold;
    color: #E50914;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin: 20px 150px;
    color: #CCCCCC;
}

/* Em telas até 1024px (tablets) */
@media (max-width: 1024px) {
  header h1 {
    font-size: 3rem;
  }
  header h2 {
    font-size: 1.8rem;
  }


}

/* Em telas até 768px (celulares em paisagem) */
@media (max-width: 768px) {
  nav {
    display: grid;
     grid-template-columns: repeat(1, 1fr); /* 2 colunas de cards */
  }
  nav a {
    font-size: 1.5rem;
    padding: 12px 15px;
  }

  }
  header h1 {
    font-size: 2.5rem;
  }
  header h2 {
    font-size: 1.5rem;
  }
  header p {
    font-size: 1.2rem;
  }


/* Em telas até 480px (celulares pequenos) */
@media (max-width: 480px) {
nav  {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding: 15px 0;
    font-size: 1.5rem;
    margin-top: 90px;

}
}