body { 
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    height: 100vh;

    background: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
        url(images/Gemini_Generated_Image_9gccah9gccah9gcc.png);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*AREA LOGIN*/
.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 35px;
    background-color: #0e0e0e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-container h1 {
    margin-bottom: 20px;
    display: block;
    display: flex;
    color : #E50914;
    text-shadow:
    0 0 10px #ff0000,
    0 0 0px #ff0000,
    0 0 30px #ff3333,
    0 0 0px #ff6666;
}

.login-container label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
}




/* Inputs */
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;

    border: 1px solid #2a2a2a;
    border-radius: 6px;
    background-color: #1a1a1a;
    color: #fff;

    outline: none;
    transition: 0.3s;
}


.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #E50914;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #680404;
}
.login-container .error {
    color: red;
    text-align: center;
    margin-top: 10px;
}
.login-container .success {
    color: green;
    text-align: center;
    margin-top: 10px;
}